{{#each }}
<a href="PROJECTS LINK GOES HERE">
<div class="eachProject">
    <h2>Project Name Goes Here</h2>
    <div class="projectDets">
        <p>Need Funding: need_funding here</p>
        <p>Date Created: date_created here</p>
    </div>
</div>
</a>
{{/each}}