<div>
    <form id="login-form">
        <label>Email:</label>
        <input type="text" id="login-email">
        <Label>Password:</Label>
        <input type="text" id="login-password">
        <button id="login-button">Login</button>
    </form>
</div>
<h2>Dont have an account? sign up here!</h2>
<div>
    <form id="signup-form">
        <label>Name:</label>
        <input type="text" id="signup-name">
        <label>Email:</label>
        <input type="text" id="signup-email">
        <Label>Password:</Label>
        <input type="text" id="signup-password">
        <button id="signup-button">Login</button>
    </form>
</div>