<div>
    <h2>Welcome user name here</h2>
</div>
{{#each }}
<a href="PROJECTS LINK GOES HERE">
<div class="eachProject">
    <h2>Profiles Project Name Goes Here</h2>
    <div class="projectDets">
        <p>Need Funding: Profiles need_funding here</p>
        <p>Date Created: Profiles date_created here</p>
    </div>
</div>
</a>
{{/each}}