<div class="projects">
    <h3>project name here</h3>
    <div class="projectDets">
        <p>created date here</p>
        <p>needs funding here</p>
    </div>
    <div class="descriptions">
        <p>description here</p>
    </div>
</div>